# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  # vmImage: 'win1803'
  # vmImage: 'ubuntu-16.04'
  # vmImage: 'macOS-10.13'
  vmImage: windows-2019

steps:
# - task: katalonTask@0
#   inputs:
#     version: '6.3.3'
#     executeArgs: 'katalon -noSplash -runMode=console -projectPath=“C:\jegan\SourceCOde\AzureRepo\CICDKatalon\SEADemo.prj” -retry=0 -testSuitePath=“Test Suites/SEA_InternetModule_TS/SEA_IM_TS” -executionProfile=“default” -browserType=“Chrome (headless)” -apiKey=“ae87b6f1-2782-4ac7-b384-64f9101549d4”'

- task: katalonTask@0
  inputs:
    version: '7.1.0'
    location: 'C:\Katalon'
    executeArgs: '-retry=0 -testSuitePath="Test Suites/TS_RegressionTest" -executionProfile="default" -browserType="Firefox" -apiKey="b279faef-0a5a-4aa5-8cff-ebc81466ac8c"'